# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
.venv/

# IDE settings
.vscode/
.idea/

# Data & Outputs
data/
outputs/
*.csv
*.xlsx
*.jpg
*.png

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
